* {
  margin: 0;
  padding: 0;
}
.anchor {
  position: relative;
  float: right;
  right: 10%;
}
h1 {
  margin-top: 3%;
  text-align: center;
}

.container {
  margin: 10px auto;
  width: 80%;
}

.poke-info {
  background-color: #ccc;
  display: inline-block;
  margin: 2% auto;
  padding: 10px;
  width: 10%;
}


